nav.nav
      .hamburger-container
            ul.hamburger
                  li
                  li
                  li
      img(class="logo" alt="logo" src="images/logo.svg")
             
           


      ul.header(id="myLinks") 
            li
                  img(class="header__logo" alt="logo" src="images/logo.svg")
            li    
                  a(href="#main" class='header__link main' target='_blank') Main
            li    
                  a(href="#adva" class='header__link ' target='_blank') Our advantages
            li
                  a(href="#greet" class='header__link ' target='_blank') Greetings
            li
                  a(href="#contact" class='header__link contact' target='_blank') Contacts

