*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
    width: 100%;
    display:flex;
    height: 80px;
    background: #262626;
    justify-content: space-between;
    
    &__link{
        text-decoration: none;     
        vertical-align: middle;
        font-family: 'Montserrat', sans-serif;
        color: #F6F6F6;
        line-height: 20px;
      
        &:hover{
            color: grey;
            transition: color 1000ms linear;
        }       
    }       
    &__logo{       
        margin-left: 140px;
        vertical-align:middle;
      
    
    }
}

.main{
    margin-left:200px;
}
  

  body ul li {
    list-style-type: none;
  }
  
  .nav {
    background-color: #262626;
    width: 100%;
    position: fixed;
    z-index: 10;
    clear: both;
  
  }
  
  ul#myLinks {
    display: none;
  }
  ul#myLinks li a {
    width: 100%;
    display: block;
    background-color: #262626;
    color: #fff;
    font-size: 1em;
    padding: 1.5em 1.6em;
    transition: background 0.2s;
    text-decoration: none;
  }
  ul#myLinks a:hover {
    background-color: #262626;
  }
  
  @media screen and (min-width: 900px) {
    .hamburger-container {
      display: none;
    }
  
    .nav ul#myLinks {
      display: inline;
    }
    .nav ul#myLinks li {
      display: inline-block;
      margin-right: -5px;
    }
    .logo{  
     display:none;
    }
  
  }

  @media screen and (max-width: 900px) {
    .header__link{
        padding:0;
        margin:0;
        
    }
    .header{
      height: 100%;
    }
    .header__logo{
      display:none;
    }
    .logo{  
      margin-left:7%;
    }
   
  
    
  }
  ul.hamburger li {
    height: 5px;
    background: #fff;
    content: "";
    position: relative;
    transition: 0.25s ease-in-out;
  }
  .hidden {
    opacity: 0;
  }
  .rot45deg {
    transform: rotate(45deg);
    top: 10px !important;
  }
  .rot-45deg {
    transform: rotate(-45deg);
  }
  ul.hamburger {
    display: block;
  }
  ul.hamburger li:nth-child(1) {
    top: 0;
  }
  ul.hamburger li:nth-child(2) {
    top: 5px;
  }
  ul.hamburger li:nth-child(3) {
    top: 10px;
  }
  .hamburger-container {
    width: 38px;
    margin: 1.2em 1.6em;
    height: 30px;
    cursor: pointer;
    float: left;
  }