.advantages(id="adva")
    .advantages__header Why our team?
    .slider-wrapp
        .slider
            img(class="advantages__icon-money" src="images/dolar.svg" alt="icon")
            .advantages__description Competitive salary
        .slider
            img(class="advantages__icon-love" src="images/love-icon.svg" alt="icon")
            .advantages__description Friendly environment
        .slider
            img(class="advantages__icon-office" src="images/office.svg" alt="icon")
            .advantages__description Cozy office
        .slider
            img(class="advantages__icon-coffee" src="images/coffee.svg" alt="icon")
            .advantages__description Tea, coffeе and fruits


             