.invitation(id="main")
    .invitation__header1 Welcome to 
    .invitation__header2 Node Ads test task
    .invitation__description We are young IT company based in Kyiv, Ukraine. It’s a pleasure to meet you!