.greetings(id="greet")
    .greetings__header Please, enter required info
    .greetings__description So we can get in touch with you
    form(action="POST" class="greetings__forms" id="postData")
        .greetings__input
            input#name(type="text" placeholder="Name" name="name" class="greetings__input_name" required)
            .greetings__input-with-lab
                label.greetings__input_label(for='email') Email
                input#email( type="text" placeholder="mail.mail.com" name="email" class="greetings__input_email" required)
               
        button(type="submit").greetings__button Send