doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title NodeAds
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans")
    link(rel='stylesheet', href='./css/all.css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css' integrity='sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=' rel='stylesheet' crossorigin='anonymous')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous")
  body
    include componets/header/header.pug
    include componets/invitation/invitation.pug
    include componets/advantages/advantages.pug
    include componets/greetings/greetings.pug
    include componets/contacts/contacts.pug
    
    script(src="js/main.js")
    script(src="js/animation.js")
    script(src="js/ajax-post.js")




