.contacts(id="contact")
    .contacts__header Our contacts
    .contacts__description If you have any questions about this test task, feel free to ask
    .contacts__info
        .contacts__info_email info@nodeads
        .contacts__info_phone +380950894643